@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerLink {
    @apply first-letter:uppercase list-none font-medium text-black text-sm hover:underline cursor-pointer;
  }
  .oswald {
    font-family: "Oswald", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .title-gradient {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.title-gradient {
  --bg-size: 400%;
  --color-one: hsl(0, 0%, 7%);
  --color-two: 	hsl(32, 95%, 44%);
  font-size: clamp(3rem, 25vmin, 8rem);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}
